<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bank</title>
    <link rel="stylesheet" href="/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <div class='home'>
            <a href="#"><img src="home.png" alt="Home"></a>
        </div>
        <nav>
            <ul class="nav_bar">
                <li><a class="nav_link" href="#">About</a></li>
                <li><a class="nav_link" href="#">Help</a></li>
                <li><a class="nav_link" href="#">Contact us</a></li>
            </ul>
        </nav>
        
    </header>
    <section class="section">
        <div class="section1">
            <h1>Welcome to my Bank <br> Safe and Secure Banking</h1>
            <!-- <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Accusamus sint animi dolor at, blanditiis tempore dignissimos amet enim obcaecati ducimus nulla saepe explicabo. Adipisci rerum sapiente aliquid atque pariatur ullam architecto tempora dolores, delectus soluta. Minus nam nemo reiciendis deleniti laborum, ipsam soluta? Quam similique unde totam dolorem voluptas omnis ipsa a cupiditate ut sit recusandae, magnam, architecto adipisci qui.</p> -->
        </div>
        <div class="section2">
            <form action="/details" method="POST">

            <h2>Login in to your Account</h2>
            <label for="accno">Account No:</label>
            <input type="text" id="accno" name="accno" class="sectionInput">
            <label for="pass">Password</label>
            <input id="pass" type="password" name="pass" class="sectionInput">
            <label for="email">Email</label>
            <input type="email" id="email" name="email" class="sectionInput">
            <div class="section button">
                <button class="btnLogin" type="submit">Login</button>
                <!-- <button class="btnCreate">Create</button> -->
            </form>
            
            </div>


            

        </div>
    </section>
    
</body>
</html>

